<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>

    <h1>Student Details</h1>
    <hr>

    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Student Roll No</th>
                <th>Student Name</th>
                <th>Student Course</th>
                <th>Student Duration</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for s in student %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>
                    <a href="/delete/{{ s[0] }}">Delete</a> |
                    <a href="/edit/{{ s[0] }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
