<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<form method="post" action="./update"> 
<body>
    <h1>Product Update</h1><hr>
    <table>
        <tr>
            <td>Product ID</td>
            <td><input type="text" name="pid" value="{{p[0]}}"></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text" name="pname"value="{{p[1]}}"></td>
        </tr>  
        </tr>
        <tr>
            <td>Product cost</td>
            <td><input type="text" name="pcost"value="{{p[2]}}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Update" Value="Update" ></td>
        </tr>
    </table>
</form>

</body>
</html>