<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<form method="post" action="./savedata">  <!-- that is important-->
<body>
    <h1>Employee Registration</h1><hr>
    <table>
        <tr>
            <td>employee id</td>
            <td><input type="text" name="eid"></td>
        </tr>
        <tr>
            <td>employee Name</td>
            <td><input type="text" name="ename"></td>
        </tr>  
        </tr>
        <tr>
            <td>employee Salary</td>
            <td><input type="text" name="esal"></td>
        </tr>
        <tr>
            <td>employee address</td>
            <td><input type="text" name="eaddrr"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Register" Value="Register" > </td>
        </tr>
    </table>
</form>

</body>
</html>