<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Details</h1><hr>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Cost</th>
                <th>Action</th>
            </tr>
        </thead> 
        {% for pd in p %}
        <tbody>
        
            <tr>
                <td>{{pd[0]}}</td>
                <td>{{pd[1]}}</td>
                <td>{{pd[2]}}</td>
                <td>
                    <a href="/delete/{{pd[0]}}" >Delete</a>
                    <a href="/edit/{{pd[0]}}" >Edit</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>